{% extends 'base.html' %}

{% block title %}
Products
{% endblock title %}

{% block body %}
<br>
<div class ="row">
    
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="static/images/fpv_drone.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FPV Drone</h5>
          <p class="card-text">FPV drone lets users of any skill level feel the thrill of immersive flight..</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: 4500 INR</li>
          <li class="list-group-item">Available Quantity: 5</li>
          
        </ul>
        <div class="card-body">
          <a href="/cart" class="card-link">Order now</a>
          
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="static/images/humanoid.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Humanoid</h5>
          <p class="card-text">Humanoid robots are professional service robots built to mimic human motion and interaction.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: 10000 INR</li>
          <li class="list-group-item">Available Quantity: 3</li>
          
        </ul>
        <div class="card-body">
          <a href="/cart" class="card-link">Order now</a>
          
        </div>

    </div>

    <br>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="static/images/motion_sense.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Motion Sensing Robot</h5>
          <p class="card-text">This Robot uses the passive infrared sensor acts as a motion detector.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: 1500 INR</li>
          <li class="list-group-item">Available Quantity: 10</li>
          
        </ul>
        <div class="card-body">
          <a href="/cart" class="card-link">Order now</a>
          
        </div>
    </div>
    <br>
    <div class="col-md-3">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="static/images/robot_crane.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Robot Crane</h5>
            <p class="card-text">This Robot uses mechatronics and performs simple lifting tasks.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 4500 INR</li>
            <li class="list-group-item">Available Quantity: 7</li>
            
          </ul>
          <div class="card-body">
            <a href="/cart" class="card-link">Order now</a>
            
          </div>
      </div>
    </div>
  </div>

{% endblock body %}